{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>个人中心</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/skel.min.js'%}"></script>
		<script src="{% static 'js/init.js'%}"></script>
        <link rel="stylesheet" href="{% static 'css/skel.css'%}" />
        <link rel="stylesheet" href="{% static 'css/style.css'%}" />
        <link rel="stylesheet" href="{% static 'css/style-wide.css'%}" />
	</head>
	<body class="landing">
			    <div>合肥工业大学信息门户</div>
                <div> 欢迎你，{{ user.name}}同学</div>
                <div><a href="/loginout/">登出</a></div>
				<section class="box special features">
					<div class="features-row">
						<section>
							<span class="icon major fa-bolt accent2"></span>
							<h3><a href='/myinformation/'>学籍信息</a></h3>
						</section>
						<section>
							<span class="icon major fa-area-chart accent3"></span>
							<h3><a href="#">培养方案</a></h3>
						</section>
					</div>
					<div class="features-row">
						<section>
							<span class="icon major fa-cloud accent4"></span>
							<h3><a href="#">全校开课查询</a></h3>
						</section>
						<section>
							<span class="icon major fa-lock accent5"></span>
							<h3><a href="/myClassSelect/">我的选课</a></h3>
						</section>
					</div>

				<div class="row">
					<div class="6u">
						<section class="box special">
							<span class="image featured"><img src="{% static 'img/1.jpg'%}" alt="" /></span>
							<h3>学生选课</h3>
							<ul class="actions">
								<li><a href="/selectCourse/" class="button alt">点击选课</a></li>
							</ul>
						</section>

					</div>
					<div class="6u">
						<section class="box special">
							<span class="image featured"><img src="{% static 'img/2.jpg'%}" alt="" /></span>
							<h3>我的成绩</h3>
							<ul class="actions">
								<li><a href="#" class="button alt">查看成绩</a></li>
							</ul>
						</section>
					</div>
				</div>
			</section>
			<section id="cta">
				<p>合肥工业大学版权所有@CoryRight2018-1</p>
			</section>
	</body>
</html>