{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{%  static 'css/mycoursereset.css' %}">
	<link rel="stylesheet" href="{%  static 'css/mycoursestyle.css' %}">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section id="cd-table">
	<header class="cd-table-column">
		<h2>栏目</h2>
		<ul>
			<li>用户名</li>
			<li>联系方式</li>
			<li>入学年份</li>
			<li>专业</li>
			<li>学院</li>
		</ul>
	</header>

	<div class="cd-table-container">
		<div class="cd-table-wrapper">

			<div class="cd-table-column">
				<h2>详情</h2>
				<ul>
					<li>{{ user.name }}</li>
					<li>{{ user.tel }}</li>
					<li>{{ user.admission }}年</li>
					<li>{{ user.major }}</li>
					<li>{{ user.school }}</li>
				</ul>
			</div>
		</div>
	</div>
	<em class="cd-scroll-right"></em>
</section>
</body>
</html>